/* AutoArtCarousel.css */
.carousel-wrapper {
  position: relative;
  width: 70%;
  margin: 50px auto;
  overflow: visible; /* IMPORTANT */
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-card {
  position: absolute;
  width: 240px;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.carousel-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Carte courante */
.carousel-card.current {
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  filter: blur(0);
  opacity: 1;
  z-index: 3;
}

/* Carte précédente */
.carousel-card.prev {
  left: 30%;
  transform: translateX(-50%) scale(0.9);
  filter: blur(3px);
  opacity: 0.6;
  z-index: 2;
}

/* Carte suivante */
.carousel-card.next {
  left: 70%;
  transform: translateX(-50%) scale(0.9);
  filter: blur(3px);
  opacity: 0.6;
  z-index: 2;
}
